

@media only screen and (max-width: 480px) {
    header {
        margin: 50px 20px 0px 20px;
    }
    .entete{
        flex-wrap: wrap;
    }
    .entete>nav>h3{
        display: none;
    }
    .inscrire_mobile{
        display: flex;
    }
    .navigation {
        padding-top: 36px;
        /* width: 100%; */
        display: grid;/* Passage au grid pour les traits sous hébergement et activité*/
        grid-auto-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .li_nav_hebergement{
        margin-left: -20px;
        margin-right: -20px;
        grid-column-start: 1;
        grid-column-end: 2;
        border-bottom: 3px #0065fc solid;
        padding-bottom: 20px;
        width: 238px /* 186(taille maquette) + 20 du margin-left(-20)*/;
    }
    .nav_hebergement{
        margin-left: 40px/* 20(taille maquette) + 20 du margin-left(-20)*/;
    }
    .nav_hebergement:hover{
        border-top: none;
    }
    .li_nav_activite{
        margin-left: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        border-bottom: 3px #f2f2f2 solid;
        width: 238px;
    }
    .nav_activite{
        margin-left: 60px;
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }
    .trouvez{
        margin-top: 40px;
    }
    .searchbar{
        width: auto;
    }
    .filtres_mobile{
        display: inline;
        /*margin-bottom: 20px; Ne fonctionne pas. Pourquoi?*/
    }
    #container_filtre{
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }
    .filtre1{
        display: none;
    }
    .filtre{
        margin-left: 0;
    }
    .light{
        margin-bottom: 40px;
    }
    .fa-info{
        margin-bottom: 0;
    }


    #alignement_section{
        flex-direction: column-reverse;
    }

    #btndesk {
        display: none;
    }
    #btnmob {
        display: inline;
    }

    /* Partie populaire */

    #section_populaire{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin:0 -20px 0 -20px;/* En rapport aux 20px du main*/
        border-radius: 0;
        height: 650px;
    }

    /* Partie hébergement */ 

    #section_hebergement{
        width: auto;
        height: auto;
        background-color:#ffffff;
    }
    div#ancre_hebergement{
        padding-left: 0;
    }

    #container_hebergement{
        display: flex;
        flex-direction: column;
    }

    /* Partie activité*/
    #ancre_activite>h2{
        margin-bottom: 25px;
    }

    #container_activite{
        grid-template-rows: repeat(6, 190px);
        grid-template-columns: 100%;
        grid-gap: 20px;
        height: auto;
    }

    #img_vieux_port, #img_pomegues,  #img_frioul, #img_calanques, #img_garde, #img_longchamp{
        height: calc(190px - 55px);
    }

    #vieux_port {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #pomegues{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    #frioul{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    #calanques{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    #garde{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
    #longchamp{
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .container_footer {
        flex-direction: column;
        height: auto;
        padding-bottom: 50px;
        margin-left: 20px;
    }
    .footer1{
        margin-right:0;
    }
    .footer2{
        margin-right: 0;
    }

}