/* TEMP 

PRIORITY
    ID      100
    CLASS   10
    TAG     1

*/
a{
    text-decoration: none;
    color:#101010;
}

#case1 {
    background-color: #FFF;
    border-radius: 20px;
    padding: 5px;

}

div#ancre_hebergement {
    padding-left: 50px;
}

#container_hebergement {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 50px) );
    grid-template-rows: repeat( 2, 1fr);
    grid-gap: 50px;
    width: 100%;
    height: 430px;
}

@media (max-width:800px) { /* hi-res laptops and desktops */

div#ancre_hebergement > div#container_hebergement {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 50px) );
    grid-template-rows: repeat( 3, 1fr);
    grid-gap: 50px;
}

}

.imgage_hebergement {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Partie populaire */

.image_populaire{
    width: 100%;
    height: 135px;
    object-fit: 20px 20px 0 0;
}

#container_populaire{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    width: 31.12%;
    height: 505px;
}

/* TEMP */

*{
    margin:0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* Partie Header */

header{
    margin: 50px 50px 0px 50px;
}

main{
    margin: 50px 50px 0px 50px;
}

.entete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height:60px;
}

.navigation{
    list-style: none;
    display: flex;
}

li{
    margin-left: 69px;
}

.nav_hebergement{
    text-decoration: none;
    color:#0065fc
}

.nav_hebergement:hover{
border-top: 2px solid #0065fc;
padding-top: 50px;
}

.nav_activite{
    color:#101010;
    text-decoration: none;
}

.nav_inscrire{
    font-weight:bold;
    margin-right: 6px;
    /* margin-right de 77px sur la maquette donc on rajoute 6px aux 69px des li*/
    text-decoration: none;
    color:#0065fc
}

/* Partie Main */

.trouvez{
    font-weight: bold;
    margin-top: 50px;
}

.light{
    font-weight: lighter;
}

form>div>*{
    height: 50px;
    border-right-color: #0065fc;
}

.button_search{
    background-color: #0065fc;
    color:#fff;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

#container_filtre{
    display: flex;
    align-items: center;
}

#container_filtre>i>*{
    height:50px
}

.filtre{
    list-style: none;
    border: 1px solid blue;
    border-radius: 35px;
    margin-top: 0px;
    margin-left: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 1px;
}
.icon_filtre{
    background-color: rgb(128, 95, 95);
    padding: 12px 10px;
    border-radius: 20px 0 0 20px;
}

.bouton_filtre{
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    border:none
}

.icone_filtre{
    background-color:rgb(222, 235, 255);
    color:#0065fc;
    border-radius: 50%;
    border: 1px solid black;
}

.fa-info{
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
    margin-right: 15px;
}

#alignement_section{
    display: flex;
    justify-content: space-between;
}

#section_hebergement{
    width: 65.67% /* Taille de 880px sur 1340px convertie en pourcentage*/;
    height: 627px;
    background-color: #f2f2f2;
}

.marge_titre{
    margin:30px;
    margin-top: 50px;
}
/*
#container_hebergement{
    display:grid;
    width: 100%;
    height: 430px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    margin:30px;
}

.images_hebergement{
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

#cannebiere{
    position:relative;
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#hotel_du_port{
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#hotel_les_mouettes{
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#hotel_de_la_mer{
    position: relative;
    grid-column:1/2;
    grid-row: 2/3;
    background-image: url("images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#auberge_le_panier{
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#hotel_chez_amina{
    position:relative;
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
*/
.marge_basse{
    margin-left: 30px;
    margin-top: 45px;
}



#section_populaire{
    width: 31.12%; /* Taille de 417px sur 1340px convertie en pourcentage */
    height: 627px;
    background-color: #f2f2f2;
}

#container_populaire{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    width: 31.12%;
    height: 505px;
}
/*
.images_populaire{
    width: 127px;
    height: 134px;
    background-size: 100% auto;
    background-position: center center;
   /* position: relative; 
}*/

#soleil_du_matin{
   /* position: absolute; */
    background-image: url("./images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");

}

#coeur_eau{
   /* position: absolute; */
    background-image: url("./images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#bleu_et_blanc{
  /*  position: absolute; */
    background-image: url("./images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");   
}



#container_activite{
    width: 100%;
    height: 446px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.images_activite{
    position: relative;
    bottom: 0;
    background-size: auto 100%;
    background-position: center center;
    /*width: 100%;*/
}

#vieux_port{
    grid-column: 1/2;
    grid-row: 1/6;
}
.img_vieux_port{
    height: 445px;
    width:100%;
    object-fit: cover;
}

#pomegues{
  grid-column: 2/3;
  grid-row: 1/4;
}
.img_pomegues{
    height: 235px;
    width: 100%;
    object-fit: cover;
}

#frioul{
    grid-column: 2/3;
    grid-row: 4/6;
}
.img_frioul{
    height: 165px;
    width: 100%;
    object-fit: cover;
}

#calanques{
    grid-column: 3/4;
    grid-row: 1/6;
}
.img_calanques{
    height: 445px;
    width: 100%;
    object-fit: cover;
}

#garde{
    grid-column: 4/5;
    grid-row: 1/3;
}
.img_garde{
    height: 195px;
    width: 100%;
    object-fit: cover;
}

#longchamp{
    grid-column: 4/5;
    grid-row: 3/6;
}
.img_longchamp{
    height: 210px;
    width: 100%;
    object-fit: cover;
}

/*
#image_vieux_port{
    grid-column: 1/2;
    grid-row: 1/6;
    background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#image_pomegues{
  grid-column: 2/3;
  grid-row: 1/4;
  background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#image_frioul{
    grid-column: 2/3;
    grid-row: 4/6;
    background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-repeat: no-repeat;
}

#image_calanques{
    grid-column: 3/4;
    grid-row: 1/6;
    background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#image_notre-dame-garde{
    grid-column: 4/5;
    grid-row: 1/3;
    background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-repeat: no-repeat;
}

#image_longchamp{
    grid-column: 4/5;
    grid-row: 3/6;
    background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}
*/

/* Partie Position Relative/Absolute*/

/* Hébergements*/
.hebergement_absolute{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
}

/* Populaires */
.populaire_absolute{
    position: absolute;
    width: 205px;
    height: 134px;
    background-color: #fff; 
} 


/*Activité*/
.activite_absolute{
    position: absolute;
    background-color: #fff;
    height: 55px;
    width: 100%;
    bottom:0;
    text-align: center;
}

/* Textes et étoiles des bannières*/
.etoile_bleue{
    color:#0065fc;
}
.etoile_grise{
    color:#d9d9d9;
}
.titre_banniere{
    color:#000000;
    font-weight: bold;
}
.texte_banniere{
    color:#000000;
}

/* Partie footer */

footer{
    margin-left: 0%;
    margin-right: 0%;
    background-color: #f2f2f2;
}

.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0 50px;
    height: 220px;
}


.titre_footer{
    font-weight: bold;
}

.footer1{
    margin-top:18px;
}

/* Media queries */
@media screen and (max-width:1024px){
    #container_filtre{
        display: flex;
        flex-direction: column;
    }
    .container_footer{
        display: flex;
        flex-direction: column;
    }
    .navigation{
        flex-wrap: wrap;
    }

}