*{
    margin:0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* Partie Header */

header{
    margin-left: 50px;
}

main{
    margin-left: 50px;
}

.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height:60px;
}

.navigation{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

a{
    color:#0065fc;
}

li{
    margin-right: 69px;
}

.nav_hebergement{
    text-decoration: none;
}

.nav_hebergement:hover{
border-top: 1px solid #0065fc;
padding-top: 20px;
}

.nav_activite{
    color:#101010;
    text-decoration: none;
}

.nav_inscrire{
    font-weight:bold;
    margin-right: 6px;
    /* margin-right de 77px sur la maquette donc on rajoute 6px aux 69px des li*/
    text-decoration: none;
}

/* Partie Main */

.trouvez{
    font-weight: bold;
    margin-top: 50px;
}

.light{
    font-weight: lighter;
}

#container_filtre{
    display: flex;
    justify-content: space-between;
}

.filtre{
    list-style: none;
    border: 1px solid blue;
    border-radius: 15px;
    margin-top: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 1px;
}
.icon_filtre{
    background-color: rgb(128, 95, 95);
    padding: 12px 10px;
    border-radius: 20px 0 0 20px;
}

.bouton_filtre{
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    border:none
}

.fa-money-bill-wave{
    color:#0065fc;
}

.fa-info{
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
    margin-right: 15px;
}

#container_section{
    display: flex;
    flex-direction: row;
}

#container_hebergement{
    display:grid;
    width: 870px;
    height: 430px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    background-color: #f2f2f2;
}

.cannebiere{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

.hotel_du_port{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

.hotel_les_mouettes{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

.hotel_de_la_mer{
    grid-column:1/2;
    grid-row: 2/3;
    background-image: url("images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

.auberge_le_panier{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

.hotel_chez_amina{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 100%;
    height: 194px;
}

#container_populaire{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 625px;
    background-color: #f2f2f2;
}

#soleil_du_matin{
    position: relative;
    background-image: url("./images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: 100% auto;
    background-position: center center;
    width: 40%;
}
#coeur_eau{
    position: relative;
    background-image: url("./images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: 100% auto;
    background-position:center center;
    width: 40%;
}
#bleu_et_blanc{
    position: relative;
    background-image: url("./images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: 100% auto;
    background-position:center center;
    width: 40%;

}

.image_populaire{
    width: 100%;
    height: 134PX;
}

#container_activite{
    width: 100%;
    height: 446px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#image_vieux_port{
    grid-column: 1/2;
    grid-row: 1/6;
    background-image: url("images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#image_pomegues{
  grid-column: 2/3;
  grid-row: 1/4;
  background-image: url("images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#image_frioul{
    grid-column: 2/3;
    grid-row: 4/6;
    background-image: url("images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-repeat: no-repeat;
}

#image_calanques{
    grid-column: 3/4;
    grid-row: 1/6;
    background-image: url("images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#image_notre-dame-garde{
    grid-column: 4/5;
    grid-row: 1/3;
    background-image: url("images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-repeat: no-repeat;
}

#image_longchamp{
    grid-column: 4/5;
    grid-row: 3/6;
    background-image: url("images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

.images_activite{
    background-size: auto 100%;
    background-position: center center;
    height: 100%;
    width: 100%;
}

/* Partie Position Relative/Absolute*/

.gras_banniere{
    font-weight: bold;
}

/* Hébergements*/
.hebergement_absolute{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #fff;
}

/* Populaires*/
.populaire_absolute{
    position: absolute;
    right:0;
    width: 205px;
    height: 134px;
    background-color: #fff;
}


/* Partie footer */

footer{
    margin-left: 0%;
    margin-right: 0%;
    background-color: #f2f2f2;
}

.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0 50px;
    height: 220px;
}


.titre_footer{
    font-weight: bold;
}

.footer1{
    margin-top:18px;
}
